@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@400;700 & display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dados{
    background-color: aqua;
    line-height: 54px;


}






